
variables:
  GIT_SUBMODULE_STRATEGY: recursive

.test:
  before_script:
    - mkdir build
    - cd build
  script:
    - cmake .. -DCMAKE_BUILD_TYPE=Debug
    - cmake --build . --config Debug
    - ctest --build-config Debug --output-on-failure

windows:
  extends: .test
  tags:
    - windows

linux:
  extends: .test
  tags:
    - docker
  image: ubuntu-22.04
