name: CMake

on: [push, pull_request, fork, workflow_dispatch]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
          - os: windows-latest
          - os: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Build
        working-directory: build
        run: |
          pipx install conan
          conan profile detect
          conan build . -s:build_type=Release --build missing
          cmake --install build/Release --prefix dist --component blf_converter

      - name: Test
        working-directory: build
        run: |
          ctest -C Release --output-on-failure
          git diff --exit-code

      - name: "Upload Artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.os}} artifacts
          path: dist
